body{
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.color-change {
  color: #AA54FA;
}

header {
  background-color: #AA54FA;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-item{
  padding-right: 35px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: black;
}

.skill {
  width: 7.5rem;
  height: 7.5rem;
}

.project-icon {
  color: #AA54FA;
}


.timeline-main-container {
  border-left: 5px solid #AA54FA;
  margin-left: 50px;
}

.xyz::before {
  content: "";
  border-radius: 50%;
  height: 17px;
  width: 17px;
  background-color: #AA54FA;
  position: absolute;
  left: -12px;
}

.xyz {
  position: relative;
}

.rows-2{
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icons {
  color:rgb(116, 88, 88);
  width: 8em;
  text-align: center;
  
}
.icons i{
  padding-top:0.2em;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-content: center;
}

.certification {
  padding-top: 10px;

}

.certification img {
  width: 28em;
}

.c-button{
  background-color: #AA54FA;
   color: white;
    width: 10em;
    height:3em;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
}

.c-button:hover{
  scale: 1.02;
}

.modal-dialog {

  position: relative;
  right: 520px;
  bottom: 25px;
}

footer {
  background-color: #AA54FA;
  height: 15em;
  width: 100%;
}

@media only screen and (max-width: 1515px) {
  .modal-dialog{
    position:unset;
    right:auto;
    left:auto;
  }
  .certification img{
    width:20em;
  }
}